$network-list: 'instagram' 'pinterest' 'youtube' 'facebook';
$ad-network-list: 'facebook' 'pinterest';
$icon-list: [
  'agency-preferred',
  'alert-diamond',
  'approve',
  'arrow-down',
  'blog-gray',
  'blog',
  'campaigns',
  'check-green',
  'circle-alert',
  'circle-check',
  'circle-cross',
  'clock',
  'comments',
  'complete',
  'content-video-white',
  'conversations-warning',
  'conversations',
  'copy-link',
  'download-gray',
  'download-white',
  'download',
  'edit',
  'expand-white',
  'external-link',
  'eye',
  'facebook-export-white',
  'facebook-export',
  'facebook-exported',
  'facebook-exporting',
  'facebook-post',
  'followers',
  'hand-click',
  'heart-empty',
  'heart-full',
  'illustration',
  'image',
  'info-black',
  'info-blue',
  'instagram-post',
  'likes',
  'logout',
  'overdue',
  'package',
  'paper-time-combo',
  'percent',
  'photo-gray',
  'photo',
  'pinterest-export',
  'pinterest-post',
  'play-no-circle',
  'play',
  'refresh-gray',
  'refresh',
  'request-edits',
  'search',
  'thumbs-down',
  'thumbs-up',
  'time-machine',
  'triangle-warning',
  'upload-blue',
  'video-gray',
  'video',
  'x-gray',
  'x-small',
  'x-white',
  'youtube-post'
];
