$primary-font: 'Akkurat';
$secondary-font: 'Akkurat-Mono';
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 600;

$default-body-font-size: 13px;
$default-header-font-size: 14px;
