{{#docs-header githubUrl='https://github.com/PopularPays/ember-cli-popularpays-styleguide'}}
  <img height='30px'
    src="/assets/svg/logos/full/color.svg"
    alt="Popular Pays"
  />
{{/docs-header}}

{{docs-hero
  logo='ember'
  slimHeading='popularpays'
  strongHeading='StyleGuide'
  byline='Popular Pays styles and componet'}}

  <div class="docs-container text-center">
    <div class="docs-section">
      Let's get started. See the {{docs-link 'Docs' 'docs'}}
    </div>
  </div>
