{{docs-header
  name='LivingStyleGuide'
  githubUrl='https://github.com/popular-pays/living-style-guide'}}

{{docs-hero
  logo='ember'
  slimHeading='poppays'
  strongHeading='LivingStyleGuide'
  byline='Sharing all the styles.'}}

{{#docs-demo as |demo|}}
  {{#demo.example name='my-demo.hbs'}}
    <p>Placeholder: Make sure to read up on the DocsDemo component before building out this page.</p>
  {{/demo.example}}
{{/docs-demo}}
